! general config
URxvt*urgentOnBell: true
URxvt*cursorBlink: false
URxvt*termName: rxvt-unicode-256color
URxvt*scrollBar: false
URxvt*savelines: 10000
URxvt*iso14755: false
URxvt*depth: 32

! font config
!URxvt*letterSpace: -1
URxvt*font: xft:Fira Mono:size=11
URxvt*boldFont: xft:Fira Mono:bold:size=11
URxvt*italicFont: xft:Fira Mono:size=11
URxvt*boldItalicFont: xft:Fira Mono:bold:size=11
URxvt*imFont: xft:Fira Mono:size=11

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! colors
#include "/home/newtant/dotfiles/colors/urxvt"
#include "/home/newtant/dotfiles/.rofi"
